; ==========================================================
; DISCORD S3 PRO - BACKEND CONFIGURATION
; ==========================================================

[Server]
; Port on which the Express API will listen
port = 3000

; Maximum size of each encrypted chunk in bytes.
; Standard: 7864320 (7.5 MB) - Recommended to stay under 8MB for Discord stability.
chunk_size = 7864320

[Database]
; Choice of storage engine: "mongodb" or "json"
db_type = mongodb

; MongoDB Connection URI (Mandatory if db_type = mongodb)
; In Docker, 'db' refers to the container name defined in docker-compose.
mongo_uri = mongodb://localhost:27017/discord-s3

; Local path for JSON registry (Mandatory if db_type = json)
; Path is relative to the Backend folder.
db_path = ./data/registry.json

[Discord]
; List of Discord Channel IDs where chunks will be stored.
; Separate IDs with a comma (e.g., ID1,ID2,ID3)
storage_channels = 1478104708412604622,1478105152945651835,1478105175410343937